<div class="auth-form">
  <h1>Login</h1>

  <form (submit)="login($event)">
    <input [(ngModel)]="loginForm.email" type="text" name="email" placeholder="Email" />
    <input [(ngModel)]="loginForm.password" type="password" name="password" placeholder="Password" />
    <label for="loginSubmitButton">
      <strong>{{isLoggingIn ? 'Loading...' : 'Submit'}}</strong>
    </label>
    <button id='loginSubmitButton' type="submit" [disabled]="isLoggingIn"></button>
  </form>

  <div class="auth-options">
    <span>Don't have an account? </span>
    <a routerLink="/register">Register</a>
  </div>
</div>