<div *ngIf="items | async as returnedItems; else loading">
  <ng-container *ngIf="returnedItems.length; else noItems">
    <ul *ngFor="let item of returnedItems">
      <li class="todo-container text">
        <div class="left">
          {{item.title}}
        </div>
        <div class="right" (click)="markTodoAsDone(item)">
          <mat-icon>done</mat-icon>
        </div>
      </li>
    </ul>
  </ng-container>

  <ng-template #noItems>
    <div class="no-items">
      <img src="./../../assets/sad-face.png" alt="sad face">
      <div>You dont have any items</div>
      <div>
        <a routerLink="/todo/create">Add some...</a>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #loading>
  <div class="loader">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>