body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

#container {
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;

    #content {
        padding: 30px 50px;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                background: #fff;
                border-radius: 8px;
                padding: 20px;
                margin-bottom: 8px;

                a {
                    font-size: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                    color: #00A8FF;
                }

                ul {
                    margin-top: 20px;

                    li {
                        padding: 0;

                        a {
                            font-size: 1em;
                            font-weight: 300;
                        }
                    }
                }
            }
        }

        .auth-form {
            // width: 40%;
            // margin-left: auto;
            // margin-right: auto;

            h1 {
                text-align: center;
            }
        }

        form {
            display: grid;
            grid-gap: 1rem;

            input {
                padding: 0.3rem;
            }

            label {
                background-color: #2D2E2E;
                color: white;
                padding: 0.6rem;
                cursor: pointer;
                text-align: center;
            }

            label:active, label:hover {
                background-color: #00A8FF;
                color: white;
            }

            button[type="submit"] {
                display: none;
            }
        }

        .auth-options {
            padding-top: 1rem;
        }
    }
}
