<h1>Welcome!</h1>

<section>
  <p>
    <span>This website was built using </span>
    <strong>Angular 6 </strong>
    <span>& </span>
    <strong>firebase. </strong>
    <span>You can take a look at the github repository </span>
    <a href="https://github.com/sideroff/angular6-todos/" target="_blank">here</a>
  </p>
  <p>
    <strong>NB!</strong> This is a meant as a
    <strong>demo</strong>, please
    <strong>do not use any personal data.</strong>
  </p>
  <p>
    <span>
      For any issues you encounter, please
    </span>
    <a href="https://github.com/sideroff/angular6-todos/issues" target="_blank">create a new issue.</a>
  </p>

  <button [hidden]="true" (click)="testing()">Testing</button>
</section>