<h1>Welcome!</h1>

<section>
  <p>
    <span>This website was built using </span>
    <strong>Angular 6 </strong>
    <span>& </span>
    <strong>firebase. </strong>
    <span>You can take a look at the github repository </span>
    <a href="https://github.com/sideroff/angular6-todos/" target="_blank">here</a>
  </p>
  <p>
    <span>
      Please keep in mind that this is a work in progress and some things might not work as expected. For any issues you encounter,
      please
    </span>
    <a href="https://github.com/sideroff/angular6-todos/issues" target="_blank">create a new issue.</a>
  </p>

  <p>/Explanation of the site's functions with pictures/</p>

  <button [hidden]="true" (click)="testing()">Testing</button>
</section>