<div class="auth-form">
  <h1>Register</h1>

  <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <input (ngModel)="email" type="text" name="email" placeholder="Email" />
    <input (ngModel)="password" type="password" name="password" placeholder="Password" />
    <input (ngModel)="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password" />
    <label for="registerSubmitButton">
      <strong>{{isRegistering ? 'Loading...' : 'Submit'}}</strong>
    </label>
    <button id="registerSubmitButton" type="submit" [disabled]="isRegistering"></button>
  </form>

  <div class="auth-options">
    <span>Already registered? </span>
    <a routerLink="/login">Login</a>
  </div>

</div>