<div class="auth-form">
  <h1>Register</h1>

  <form (submit)="register($event)">
    <input [(ngModel)]="registerForm.email" type="text" name="email" placeholder="Email" />
    <input [(ngModel)]="registerForm.password" type="password" name="password" placeholder="Password" />
    <input [(ngModel)]="registerForm.confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password" />
    <label for="registerSubmitButton">
      <strong>{{isLoggingIn ? 'Loading...' : 'Submit'}}</strong>
    </label>
    <button id="registerSubmitButton" type="submit" [disabled]="isRegistering"></button>
  </form>

  <div class="auth-options">
    <span>Already registered? </span>
    <a routerLink="/login">Login</a>
  </div>

</div>