<div class="todo-form">
  <h1>Create todo</h1>

  <form #todoForm="ngForm" (ngSubmit)="create(todoForm)">
    <input (ngModel)="title" type="text" name="title" placeholder="Title e.g. {{titlePlaceholder}}" />
    <input (ngModel)="description" type="textarea" name="description" placeholder="Additional info..." />
    <label for="todoSubmitButton">
      <strong>{{isCreatingTodo ? 'Loading...' : 'Submit'}}</strong>
    </label>
    <button id='todoSubmitButton' type="submit" [disabled]="isCreatingTodo"></button>
  </form>
</div>