<div class="todo-form">
  <h1>Create Todo</h1>

  <form (submit)="create($event)">
    <input [(ngModel)]="todo.title" type="text" name="title" placeholder="Title e.g. {{titlePlaceholder}}" />
    <input [(ngModel)]="todo.description" type="textarea" name="description" placeholder="Additional info..." />
    <label for="todoSubmitButton">
      <strong>{{isCreatingTodo ? 'Loading...' : 'Submit'}}</strong>
    </label>
    <button id='todoSubmitButton' type="submit" [disabled]="isCreatingTodo"></button>
  </form>
</div>